body {
  background: #f2faff;
  font-size: 13px;
  }

.container-fluid {
  margin-top: 10px;
  margin-bottom: 40px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  }

h1 {
  color: #0740b2;
  font-weight: normal;
  line-height: 80px;
  font-size: 2em;
  position: relative;
  left: 100px;
  }

h2 {
  line-height: 36px;
  }
h3 {
  font-size: 18px;
  line-height: 27px;
  }

.lead {
  font-size: 20px;
  font-weight: 200;
  line-height: 27px;
  }
  
#header h1 {
  color: #fff;
  font-size: 2.5em;
  font-weight: bold;
  position: absolute;
  top: 60px;
  line-height: normal;
  }
#header h2 {
  font-size: 14px;
  color: white;
  font-weight: normal;
  left: 100px;
  top: 30px;
  }

#header li, #footer li {
  line-height: 3em;
  list-style: none;
}

#footer li {
  line-height: normal;
}

#footer ul {
  padding: 0;
  margin: 0;
}

#top-navigation {
  padding: 0;
  margin: 0;
}

.content {
  margin: 0 20px;
  position: relative;
  width: auto;
}
#header h3 {
  font-size: 24px;
  font-weight: normal;
  position: absolute;
  top: 75px;
  left: 110px;
  color: #fff;
  }

#main-container {
  position: relative;
}
#main-container .span2 {
  padding-top: 20px;
}
/*
#applied-filters {
  white-space: normal;
  color: #333;
}
#applied-filters div {
  margin-bottom: 5px;
}
*/
#applied-filters span {
  font-size: 24px;
  line-height: 28px;
}
#applied-filters i {
  margin-top: 8px;
}

#app {
  min-height: 600px;
}

.map-container {
  margin-bottom: 1px !important;
  }
.map {
  background: white;
  }
#homemap {
  width: 100% !important;
  height: 450px !important;
  position: relative;
  bottom: 0;
  left: 0;
  }

#profilemap {
  height: 300px;
  }
#profilemap .map-fullscreen,  #profilemap .zoomer {
  display: none;
  }

.map .inner-shadow {
  position: relative;
  width: 100%;
  height: 100%;
  -moz-box-shadow:    inset 0 0 10px #999;
  -webkit-box-shadow: inset 0 0 10px #999;
  box-shadow:         inset 0 0 10px #999;
  z-index: 5;
  pointer-events: none;
  }

#homemap.full {
  position: absolute !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100% !important;
  z-index: 100;
  }

.map-fullscreen {
  z-index: 5;
  }

.map.full .map-fullscreen {
  background-position:-120px 0;
  }

/* Clustered markers */
.map > div:last-child img {
  pointer-events: all;
  cursor: pointer;
  }
.map .marker-popup {
  min-width: 100px;
  top: 10px;
  float: left;
  color: #333;
  padding: 10px 15px;
  margin: 0 10px;
  border: 1px solid #bbb;
  border-radius: 4px;
  box-shadow: 2px 2px 5px -2px #424242;
  -moz-box-shadow: 2px 2px 5px -2px #424242;
  -webkit-box-shadow: 2px 2px 5px -2px #424242;
  background: #fff;
  /* IE10 Consumer Preview */
  background-image: -ms-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
  /* Opera */
  background-image: -o-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #eeeeee));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
  /* W3C Markup, IE10 Release Preview */
  background-image: linear-gradient(to bottom, #ffffff 0%, #eeeeee 100%);
  }
.marker-popup:after {
  border-width: 5px;
  margin-left: -5px;
  border-top-color: #eee;
  }
.marker-popup:before {
  border-width: 6px;
  margin-left: -6px;
  border-top-color: #bbb;
  }
.map .marker-title {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 5px;
  }
.map .marker-description {
  float: left;
  width: 100%;
  font-size: 11px;
  }
.map .marker-description .stat {
  line-height: 15px;
}
.map .marker-description .stat .value {
  font-weight: bold;
}
.map .marker-title .subtitle {
  color: #999;
  font-size: 11px;
  font-weight: normal;
  margin-top: -2px;
  }
.map-attribution {
  z-index: 999;
}
.map-btn {
  padding: 5px 5%;
  border-radius: 8px;
  -moz-transition: background 0.1s linear;
  -o-transition: background 0.1s linear;
  -webkit-transition: background 0.1s linear;
  transition: background 0.1s linear;
}
.map-btn p {
  margin: 0;
}
.map-btn:hover {
  background: #DBEBEF;
  cursor: pointer;
}
.map-btn.active {
  background: #265F91;
  background-image: -ms-linear-gradient(bottom, #265F91 0%, #557799 100%);
  background-image: -moz-linear-gradient(bottom, #265F91 0%, #557799 100%);
  background-image: -o-linear-gradient(bottom, #265F91 0%, #557799 100%);
  background-image: -webkit-gradient(linear, bottom left, top left, color-stop(0, #265F91), color-stop(1, #557799));
  background-image: -webkit-linear-gradient(bottom, #265F91 0%, #557799 100%);
  background-image: linear-gradient(to top, #265F91 0%, #557799 100%);
  -moz-box-shadow:    inset 0 0 10px #444;
  -webkit-box-shadow: inset 0 0 10px #444;
  box-shadow:         inset 0 0 10px #444;
}
/*
.map-btn.active:after {
  content: "";
  display: block;
  float: right;
  margin-right: -25px;
  margin-top: -40px;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  border-left: 16px solid #036;
  border-right: none;
}
*/
.map-btn.active .lead {
  color: #fff;
}
.map-btn.active p strong, .map-btn.active .date {
  color: #DBEBEF;
}

.summary {
  position: relative;
  left: 0;
  -moz-transition: left 0.5s ease;
  -o-transition: left 0.5s ease;
  -webkit-transition: left 0.5s ease;
  transition: left 0.5s ease;
}
.summary.off {
  left: -1000px;
}
.summary > .row-fluid {
  width: auto;
  margin: 20px;
  }

.summary > .row-fluid .row-fluid {
  margin-bottom: 1em;
  }

.summary > .row-fluid:first-child {
  margin: 0;
  }
.summary .lead {
  margin: 0;
  }
.summary .lead span {
  font-size: 16px;
  }
.summary .lead.projid {
  font-size: 16px;
  text-align: right;
  }
@media (max-width: 767px) {
  .summary .lead.projid {
    text-align: left;
    }
  }

.summary a, #projects a {
  color: #333;
  }

.raised {
  background: white;
  box-shadow: 0 10px 20px #999;
  border-radius: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #999;
  }

#filters.fixed, #content-right.fixed {
  position: fixed;
  top: 10px;
  right: 20px;
  bottom: 0;
  }

.separator:first-child {
  border-radius: 10px 10px 0 0;
  padding: 20px;
  }
.separator {
  color: #EDF4FE;
  padding: 10px 20px;
  border-top: 1px solid #5A90DA;
  border-bottom: 1px solid #036;
  box-shadow: 0 -1px 0 #036, 0 1px 0 white;
  background: #062A4A;
  /* IE10 Consumer Preview */
  background-image: -ms-linear-gradient(top, #01396F 0%, #062A4A 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(top, #01396F 0%, #062A4A 100%);
  /* Opera */
  background-image: -o-linear-gradient(top, #01396F 0%, #062A4A 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #01396F), color-stop(1, #062A4A));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(top, #01396F 0%, #062A4A 100%);
  /* W3C Markup, IE10 Release Preview */
  background-image: linear-gradient(to bottom, #01396F 0%, #062A4A 100%);
  }
.separator a {
  color: #EDF4FE;
  }

.modal.fade {
  top: 50%;
  }

.chart .data, .chart .caption {
  float: left;
  width: 50%;
  text-indent: 0.5em;
  }

.chart .data > div {
  float: right;
  clear: both;
  text-align: right;
  height: 20px;
  line-height: 20px;
  background: #265F91;
  /* IE10 Consumer Preview */
  background-image: -ms-linear-gradient(right, #265F91 0%, #557799 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(right, #265F91 0%, #557799 100%);
  /* Opera */
  background-image: -o-linear-gradient(right, #265F91 0%, #557799 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, right top, left top, color-stop(0, #265F91), color-stop(1, #557799));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(right, #265F91 0%, #557799 100%);
  /* W3C Markup, IE10 Release Preview */
  background-image: linear-gradient(to left, #265F91 0%, #557799 100%);
  margin: 0.25em 0;
  padding-right: 0.5em;
  box-sizing: border-box;
  font-size: 0.7em;
  color: #EDF4FE;
  }
.chart .caption > div {
  float: left;
  clear: both;
  text-align: left;
  height: 20px;
  line-height: 20px;
  margin: 0.25em 0;
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  font-size: 0.9em;
  }

.toggle {
  position: absolute;
  top: 0px;
  right: 0;
  width: 93px;
  }
.btn-donors .btn {
  float: right;
}
.stats .lead {
  color: #265F91;
  }
.stats strong {
  color: #036;
  }
.date {
  font-size: 11px;
  color: #333;
}
.stats .date {
  margin-left: 5px;
}
.project .date, #top-stats .date {
  margin-right: 10px;
}
.project .projid {
  min-width: 45px;
  margin-top: 5px;
}

.help-note {
  cursor: pointer;
  }

form {
  margin: 0;
  }

#filters, #content-right {
  position: absolute;
  top: 200px;
  right: 20px;
  }

#filters h3 {
  font-weight: normal;
  margin-bottom: 10px;
  color: #036;
  }

#filters-search {
  margin-bottom: 20px;
  background: rgba(255, 255, 255, 0.6);
  }

#filters li {
  line-height: 18px;
  font-size: 10px;
  }

#filters li a, #output-nav li a {
  height: 100%;
  display: block;
  border-radius: 5px;
  color: #333;
  padding: 5px 0 5px 10px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.9em;
  }

#filters li a:hover,
#filters li a:focus,
#output-nav li a:hover {
  background: rgba(171, 196, 191, 0.25);
  text-decoration: none;
  }
#filters li a.active {
  background: rgba(171, 196, 191, 0.5);
  text-decoration: none;
  }
#filters li a:active {
  background: rgba(171, 196, 191, 0.75);
  text-decoration: none;
  }
#filters ul.filter-items {
  max-height: 0;
  overflow-y: hidden;
  -moz-transition: max-height 0.5s ease;
  -o-transition: max-height 0.5s ease;
  -webkit-transition: max-height 0.5s ease;
  transition: max-height 0.5s ease;
}
#filters ul.filter-items.active,
#filters ul.filter-items.active-filter {
  max-height: 150px;
}
#filters .label {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#filters .label .arrow {
  display: block;
  position: absolute;
  bottom: 5px;
  right: 0;
  width: 0;
	height: 0; 
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent; 
	border-right: 6px solid #bbb;
	border-left: none;
	pointer-events: none;
}
#filters .label.active .arrow,
#filters .label.active-filter .arrow {
  border-top: 6px solid #bbb;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: none;
}
#filters .label .arrow.active {
  border-right-color: #036;
  border-top-color: transparent;
}
#filters .label.active .arrow.active,
#filters .label.active-filter .arrow.active {
  border-top-color: #036;
  border-right-color: transparent;
}
#output-nav li a {
  padding: 0 0 0 10px;
  font-size: 0.7em;
}

.nav {
  margin: 0;
  line-height: 60px;
  height: 60px;
  font-size: 18px;
  color: #999;
  text-align: right;
  display: none;
  float: right;
  margin-left: 4%;
  margin-bottom: 10px;
  }
.nav a {
  color: #999;
  }
.nav a:hover, .nav a:focus {
  text-decoration: none;
  color: #aaa;
  }
.nav a:active {
  color: #ccc;
  }

.label {
  padding: 0.5em 0;
  margin-bottom: 0.5em;
  background: none;
  text-shadow: none;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 1px 0 white;
  border-radius: 0;
  color: #003366;
  position: relative;
  text-transform: capitalize;
  font-size: inherit;
  }

.chart-container {
  min-height: 138px !important;
}


/* project.html */

.projects .separator {
  border-top: 1px solid #55BBFF;
  border-bottom: 1px solid #0B387C;
  box-shadow: 0 -1px 0 #5A90DA, 0 1px 0 white;
  background: #0055AA;
  /* IE10 Consumer Preview */
  background-image: -ms-linear-gradient(bottom, #0055AA 0%, #5A90DA 100%);
  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(bottom, #0055AA 0%, #5A90DA 100%);
  /* Opera */
  background-image: -o-linear-gradient(bottom, #0055AA 0%, #5A90DA 100%);
  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #0055AA), color-stop(1, #5A90DA));
  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(bottom, #0055AA 0%, #5A90DA 100%);
  /* W3C Markup, IE10 Release Preview */
  background-image: linear-gradient(to top, #0055AA 0%, #5A90DA 100%);
  }

.project {
  border-bottom: 1px solid #ccc;
  box-shadow: 0 1px white;
  padding-bottom: 20px;
  }
.project:last-child {
  padding-bottom: 0;
  border-bottom: none;
  box-shadow: none;
  }

#timeline-comp {
  margin-top: 2em;
  }

.table {
  margin-bottom: 0;
  padding-bottom: 0;
  }
  
#documents li a {
  display: block;
  padding: 0.1em 0;
  border-radius: 5px;
}
#documents li a:hover {
  background: rgba(171, 196, 191, 0.25);
  text-decoration: none;
}
#documents .filetype {
  font-size: 0.8em;
  color: #ccc;
  margin: 0 0.5em;
}
  
/* twitter feed */

#content-right .twitter {
  background:url("../img/twitter-bird.png") no-repeat;
  display: block;
  float: left;
  width: 20px;
  height: 16px;
  margin-right: 5px;
}
#twitter {
  margin-top: 20px;
}
#twitter a {
  color: inherit;
}
.tweet_list {
  margin: 0;
}
.tweet_list a {
  color: #333;
  font-weight: bold;
}
.tweet_list div {
  margin-left: 40px;
}
.tweet_list li {
  overflow-y: auto;
	overflow-x: hidden;
	list-style-type: none;
	line-height: 15px;
	margin-bottom: 10px;
}
.tweet_list .actions {
  margin-top: 5px;
  font-size: 0.8em;
}
.tweet_list .actions a {
  color: #aaa;
  font-weight: normal;
}
.tweet_list .tweet_text {
  font-size: 0.95em;
}
.tweet_list .tweet_avatar {
	float: left;
}

#profile .glance {
  margin: 20px 0 0 0;
}
#flickr {
  margin: 0;
  background-size: cover;
  min-height: 250px;
  border-radius: 0 0 10px 10px;
  padding-right: 20px;
  padding-top: 20px;
}
#flickr .meta {
  padding: 10px 15px;
  background: rgb(255,255,255);
  background: rgba(255,255,255,0.8);
  max-height: 75%;
  overflow-y: auto;
  display: none;
}
#flickr .meta .iconlink {
  float: right;
  margin-top: -5px;
}
#flickr .control {
  display: none;
  position: absolute;
  bottom: 20px;
  background: rgb(255,255,255);
  background: rgba(255,255,255,.35);
  width: 60px;
  height: 40px;
  cursor: pointer;
}
#flickr .control div {
  position: absolute;
  top: 12px;
  left: 24px;
}
.control.resize {
  right: 160px;
  border-radius: 8px;
}
.control.next {
  right: 20px;
  border-radius: 0 8px 8px 0;
}
.control.prev {
  right: 80px;
  border-radius: 8px 0 0 8px;
  border-right: 1px solid #333;
}
#flickr .control:hover {
  background: rgba(255,255,255,.8);
}

/* contact modal */

#unit-contact .contacts {
  text-align: right;
  font-size: 11px;
  font-weight: bold;
  color: #333;
}