---
---
{% assign base = site.baseurl %}
<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8 />
    <title>UNDP Projects</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name='apple-mobile-web-app-status-bar-style' content='black' />
    <meta name='apple-mobile-web-app-capable' content='yes' />
    <link href='{{base}}/css/reset.css' rel='stylesheet'>
    <link href='{{base}}/css/global.css' rel='stylesheet'>
    <link href='{{base}}/ext/bootstrap/css/bootstrap.min.css' rel='stylesheet' />
    <link href='//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.css' rel='stylesheet' />
    <link href='{{base}}/css/MarkerCluster.css' rel='stylesheet'/>
    <link href='{{base}}/css/style.css' rel='stylesheet' />
</head>
<!--[if lt IE 7 ]> <body class='ie ie6'> <![endif]-->
<!--[if IE 7 ]>    <body class='ie ie7'> <![endif]-->
<!--[if IE 8 ]>    <body class='ie ie8'> <![endif]-->
<!--[if IE 9 ]>    <body class='ie ie9'> <![endif]-->
<!--[if IE 10 ]>   <body class='ie ie10'> <![endif]-->
<!--[if gt IE 10]><!-->
<body>
<!--<![endif]-->

  <div class='embed-container'>
    <div id='embed'></div>
  </div>

  <div id='templates'>
    {% include templates.html %}

    <!-- Embed Specific Templates -->
    <script name='embedProjectProfile' type='text/html'>{% include templates/embedProjectProfile._ %}</script>
    <script name='embedProjects' type='text/html'>{% include templates/embedProjects._ %}</script>
  </div>

  <div id='scripts'>
    <!--[if IE]><script src='{{base}}/ext/excanvas.js'></script><![endif]-->
    <script src='{{base}}/ext/jquery.js'></script>
    <script src='{{base}}/ext/jquery.tweet.js'></script>
    <script src='{{base}}/ext/jquery.slides.min.js'></script>
    <script src='{{base}}/ext/jquery.flot.js'></script>
    <script src='{{base}}/ext/spin.js'></script>
    <script src='{{base}}/ext/bootstrap/js/bootstrap.js'></script>
    <script src='{{base}}/ext/underscore.js'></script>
    <script src='{{base}}/ext/backbone.js'></script>
    <script src='{{base}}/ext/accounting.js'></script>
    <script src='{{base}}/ext/chrono.js'></script>
    <script src='{{base}}/ext/queue.js'></script>
    <script src="http://d3js.org/topojson.v1.min.js"></script>
    <script src='//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.js'></script>
    <script src='{{base}}/ext/leaflet.markercluster.js'></script>
    <script src='{{base}}/api/hdi.js'></script>
    <script src='{{base}}/api/year-index.js'></script>
    <script src='{{base}}/js/script.js'></script>
  </div>
  
  <div id='fiscalData'>
  </div>

</body>
</html>
