body {
    background: fixed #efefef url(../images/bg.png);
}

h1 {
    color: #0740b2;
    text-shadow: 0 1px 0 white;
    text-indent: 113px;
    background: url(../images/logo.png) no-repeat left center;
    background-size: 100px;
    font-weight: normal;
    line-height: 87px;
    height: 87px;
}

#summary > .row-fluid {
    width: auto;
    padding: 20px;
}

#summary > .row-fluid .row-fluid {
    margin-bottom: 1em;
}

#summary > .row-fluid:first-child {
    margin: 0;
}
#summary .lead {
    margin: 0;
}


#projects a {
    color: #333;
}

.raised {
    background: rgba(255,255,255,0.75);
    box-shadow: 0 10px 20px #999;
    border-radius: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #999;
}


.fixed {
    position: fixed;
    top: 87px;
    right: 20px;
}

.separator:first-child {
    border-radius: 10px 10px 0 0;
}
.separator {
    color: #66c2ff;
    padding: 10px 20px;
    
    border-top: 1px solid #5A90DA;
    border-bottom: 1px solid #036;
    box-shadow: 0 -1px 0 #036, 0 1px 0 white;

    background: url(../images/bg-header.png) bottom left repeat-x;
}
.separator a { color: #66c2ff; }

.chart .data, .chart .caption {
    float: left;
    width: 50%;
    text-indent: 0.5em;
}

.chart .data > div {
    float: right;
    clear: both;
    text-align: right;
    height: 20px;
    line-height: 20px;
    /* IE10 Consumer Preview */ 
    background-image: -ms-linear-gradient(right, #0055AA 0%, #5A90DA 100%);
    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(right, #0055AA 0%, #5A90DA 100%);
    /* Opera */ 
    background-image: -o-linear-gradient(right, #0055AA 0%, #5A90DA 100%);
    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, right top, left top, color-stop(0, #0055AA), color-stop(1, #5A90DA));
    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(right, #0055AA 0%, #5A90DA 100%);
    /* W3C Markup, IE10 Release Preview */ 
    background-image: linear-gradient(to left, #0055AA 0%, #5A90DA 100%);    color: #fff;
    margin: 0.25em 0;
    padding-right: 0.5em;
    box-sizing: border-box;
    font-size: 0.9em;
}
.chart .caption > div {
    float: left;
    clear: both;
    text-align: left;
    height: 20px;
    line-height: 20px;
    margin: 0.25em 0;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
}

.toggle {
    position: absolute;
    top: 0px;
    right: 0;
    width: 93px;
}

.stats .lead {
    margin: 0;
}

form {
    margin: 0;
}

#filter-filter {
    margin-bottom: 20px;
}

#filters li {
    line-height: 24px;
    text-indent: 10px;
}

/* project.html */

#top-container {
    position: relative;
    z-index: 1;
    box-shadow: 0 0 20px #ccc;
    border-bottom: 1px solid #ccc;
    background: white;
    }
#bottom-container {
    background: #efefef;
    padding-top: 2em;
    }


@media (max-width: 767px) {
    body {
        padding: 0;
        }
    .container-fluid {
        padding: 0 20px;
        }
}

#top-stats img {
    width: 100%;
    max-height: 300px;
}

.project {
    border-bottom: 1px solid #ccc;
    box-shadow: 0 1px white;
}
.project:last-child {
    border-bottom: none;
    box-shadow: none;
}

#timeline-comp {
    margin-top: 2em;
}
.label {
    padding: 0.5em 0;
    margin-bottom: 0.5em;
    background: none;
    text-shadow: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    color: #003366;
    position: relative;
    text-transform: capitalize;
}

img {
    width: 100%;
}
