<div id='footer'>
    <div id='contact'>
        <div class='content'>
            <div class='clearfix'>
              <ul>
                <li><a href="http://www.undp.org/content/undp/en/home/operations/about_us">About Us</a></li>
                <li><a href="http://www.undp.org/content/undp/en/home/operations/jobs.html">Jobs</a></li>
                <li><a href="http://www.undp.org/content/undp/en/home/operations/procurement.html">Procurement</a></li>
                <li><a href="http://www.undp.org/content/undp/en/home/operations/copyright_and_termsofuse.html">Legal</a></li>
                <li><a href="http://www.undp.org/content/undp/en/home/operations/transparency.html">Transparency</a></li>
                <li><a href="http://www.undp.org/content/undp/en/home/operations/accountability/audit/office_of_audit_andinvestigation.html">Anti-Fraud Hotline</a></li>
                <li><a href="http://www.undp.org/content/undp/en/home/operations/scam_alert.html">Scam Alert</a></li>
                <li><a href="http://www.undp.org/content/undp/en/home/operations/contact-us.html">Contact Us</a></li>
                <li><a href="http://www.undp.org/content/undp/en/home/ourwork/get_involved.html">Get Involved !</a></li>
              </ul>
              <ul class="find-us-on">
                <li>Find us</li>
                <li><a class="facebook" href="http://www.facebook.com/undp">Facebook</a></li>
                <li><a class="twitter" href="http://www.twitter.com/undp">Twitter</a></li>
                <li><a class="youtube" href="http://www.youtube.com/user/undp/featured">YouTube</a></li>
              </ul>
            </div>
            <p>&copy; Copyright 2010 United Nations Development Programme</p>
        </div>
        <!-- end of .content -->
    </div>
    <!-- end of #contact -->
</div><!-- #footer -->