    <div id='skiplink'>
        <ul>
            <li><a href='#main-navigation'>Skip to main navigation</a></li>
            <li><a href='#content-main'>Skip to content</a></li>
            <li><a href='#footer'>Skip to footer</a></li>
        </ul>
    </div>
    <!-- end of #top-navigation -->
    <div id='header'>
        <div class='content'>
            <a href='http://www.undp.org'>
              <img class='logo png' src='img/global/logo.png' alt='UNDP' width='104' height='150' />
            </a>
            
<div class="topnavigation"><ul class="topnav">
    <li class="country-list">
      <a href="#">UNDP around the world &#x25BE;</a>
        <div>
          <p>Many of UNDP's relationships with countries and territories on the ground exceed <b>60 years</b>.<br>
Find details on our successes and ongoing work.</p>
<div class="nav-column"><ul><li><a href="http://www.af.undp.org/">Afghanistan</a></li>
  <li><a href="http://www.al.undp.org">Albania</a></li>
  <li><a href="http://www.dz.undp.org/">Algeria</a></li>
  <li><a href="http://www.ao.undp.org/">Angola</a></li>
  <li><a href="http://www.undp.org.ar/">Argentina</a></li>
  <li><a href="http://www.am.undp.org">Armenia</a></li>
  <li><a href="http://www.az.undp.org">Azerbaijan</a></li>
  </ul><ul><li><a href="http://www.bh.undp.org">Bahrain</a></li>
  <li><a href="http://www.bd.undp.org/">Bangladesh</a></li>
  <li><a href="http://www.bb.undp.org/">Barbados</a></li>
  <li><a href="http://www.by.undp.org/">Belarus</a></li>
  <li><a href="http://www.bz.undp.org/">Belize</a></li>
  <li><a href="http://www.bj.undp.org/">Benin</a></li>
  <li><a href="http://www.bt.undp.org">Bhutan</a></li>
  <li><a href="http://www.bo.undp.org/">Bolivia</a></li>
  <li><a href="http://www.ba.undp.org">Bosnia and Herzegovina</a></li>
  <li><a href="http://www.bw.undp.org">Botswana</a></li>
  <li><a href="http://www.pnud.org.br/home/">Brazil</a></li>
  <li><a href="http://www.bf.undp.org">Burkina Faso</a></li>
  <li><a href="http://www.bi.undp.org/">Burundi</a></li>
  </ul><ul><li><a href="http://www.kh.undp.org">Cambodia</a></li>
  <li><a href="http://www.cm.undp.org/">Cameroon</a></li>
  <li><a href="http://www.un.cv/">Cape Verde</a></li>
  <li><a href="http://www.cf.undp.org/">Central African Republic</a></li>
  <li><a href="http://www.td.undp.org/">Chad</a></li>
  <li><a href="http://www.cl.undp.org">Chile</a></li>
  <li><a href="http://www.cn.undp.org">China</a></li>
  <li><a href="http://www.co.undp.org">Colombia</a></li>
  <li><a href="http://www.km.undp.org/">Comoros</a></li>
  </ul></div><div class="nav-column"><ul><li><a href="http://www.cd.undp.org">Congo (Dem. Republic of)</a></li>
  <li><a href="http://www.cg.undp.org/">Congo (Republic of)</a></li>
  <li><a href="http://www.cr.undp.org/">Costa Rica</a></li>
  <li><a href="http://www.ci.undp.org/">Côte d'Ivoire</a></li>
  <li><a href="http://www.hr.undp.org/">Croatia</a></li>
  <li><a href="http://www.cu.undp.org/">Cuba</a></li>
  <li><a href="http://www.cy.undp.org">Cyprus</a></li>
  </ul><ul><li><a href="http://www.kp.undp.org">Democratic People's Republic of Korea</a></li>
  <li><a href="http://www.dk.undp.org/">Denmark (Rep. Office)</a></li>
  <li><a href="http://www.dj.undp.org/">Djibouti</a></li>
  <li><a href="http://www.do.undp.org/">Dominican Republic</a></li>
  </ul><ul><li><a href="http://www.undp.org/content/brussels/en/home.html">E.U (Rep. Office)</a></li>
  <li><a href="http://www.ec.undp.org/">Ecuador</a></li>
  <li><a href="http://www.eg.undp.org/">Egypt</a></li>
  <li><a href="http://www.sv.undp.org/">El Salvador</a></li>
  <li><a href="http://www.gq.undp.org">Equatorial Guinea</a></li>
  <li><a href="http://www.er.undp.org/">Eritrea</a></li>
  <li><a href="http://www.et.undp.org/">Ethiopia</a></li>
  </ul><ul><li><a href="http://www.fj.undp.org">Fiji (Multi-country Office)</a></li>
  <li><a href="http://www.fi.undp.org">Finland (Rep. Office)</a></li>
  </ul><ul><li><a href="http://www.ga.undp.org">Gabon</a></li>
  <li><a href="http://www.gm.undp.org/">Gambia</a></li>
  <li><a href="http://europe.undp.org/">Geneva (Rep. Office)</a></li>
  <li><a href="http://www.ge.undp.org">Georgia</a></li>
  <li><a href="http://www.gh.undp.org">Ghana</a></li>
  <li><a href="http://www.gt.undp.org/">Guatemala</a></li>
  <li><a href="http://www.gn.undp.org/">Guinea</a></li>
  <li><a href="http://www.gw.undp.org/">Guinea-Bissau</a></li>
  <li><a href="http://www.gy.undp.org/">Guyana</a></li>
  </ul></div><div class="nav-column"><ul><li><a href="http://www.ht.undp.org/">Haiti</a></li>
  <li><a href="http://www.hn.undp.org">Honduras</a></li>
  </ul><ul><li><a href="http://www.in.undp.org">India</a></li>
  <li><a href="http://www.id.undp.org">Indonesia</a></li>
  <li><a href="http://www.ir.undp.org">Iran</a></li>
  <li><a href="http://www.iq.undp.org">Iraq (Republic of)</a></li>
  </ul><ul><li><a href="http://www.jm.undp.org/">Jamaica</a></li>
  <li><a href="http://www.jo.undp.org/">Jordan</a></li>
  </ul><ul><li><a href="http://www.kz.undp.org/">Kazakhstan</a></li>
  <li><a href="http://www.ke.undp.org/">Kenya</a></li>
  <li><a href="http://www.ks.undp.org">Kosovo (as per UNSCR 1244)</a></li>
  <li><a href="http://www.kw.undp.org">Kuwait</a></li>
  <li><a href="http://www.kg.undp.org">Kyrgyzstan</a></li>
  </ul><ul><li><a href="http://www.la.undp.org">Lao PDR</a></li>
  <li><a href="http://www.lb.undp.org">Lebanon</a></li>
  <li><a href="http://www.ls.undp.org">Lesotho</a></li>
  <li><a href="http://www.lr.undp.org/">Liberia</a></li>
  <li><a href="http://www.ly.undp.org">Libya</a></li>
  </ul><ul><li><a href="http://www.mg.undp.org">Madagascar</a></li>
  <li><a href="http://www.mw.undp.org">Malawi</a></li>
  <li><a href="http://www.undp.org.my/">Malaysia</a></li>
  <li><a href="http://www.mv.undp.org">Maldives</a></li>
  <li><a href="http://www.ml.undp.org">Mali</a></li>
  <li><a href="http://www.mr.undp.org/">Mauritania</a></li>
  <li><a href="http://www.mu.undp.org/">Mauritius &amp; Seychelles</a></li>
  <li><a href="http://www.mx.undp.org/">Mexico</a></li>
  <li><a href="http://www.md.undp.org">Moldova</a></li>
  <li><a href="http://www.mn.undp.org">Mongolia</a></li>
  <li><a href="http://www.me.undp.org/">Montenegro</a></li>
  </ul></div><div class="nav-column"><ul><li><a href="http://www.ma.undp.org/">Morocco</a></li>
  <li><a href="http://www.mz.undp.org">Mozambique</a></li>
  <li><a href="http://www.mm.undp.org/">Myanmar</a></li>
  </ul><ul><li><a href="http://www.na.undp.org">Namibia</a></li>
  <li><a href="http://www.np.undp.org">Nepal</a></li>
  <li><a href="http://www.ni.undp.org">Nicaragua</a></li>
  <li><a href="http://www.ne.undp.org">Niger</a></li>
  <li><a href="http://www.ng.undp.org/">Nigeria</a></li>
  <li><a href="http://www.no.undp.org">Norway (Rep. Office)</a></li>
  </ul><ul><li><a href="http://www.pk.undp.org/">Pakistan</a></li>
  <li><a href="http://www.pa.undp.org/">Panama</a></li>
  <li><a href="http://www.pg.undp.org">Papua New Guinea</a></li>
  <li><a href="http://www.py.undp.org">Paraguay</a></li>
  <li><a href="http://www.pe.undp.org">Peru</a></li>
  <li><a href="http://www.ph.undp.org">Philippines</a></li>
  <li><a href="http://www.ps.undp.org">Programme of Assistance to the Palestinian People</a></li>
  </ul><ul><li><a href="http://www.undp.ru/">Russian Federation</a></li>
  <li><a href="http://www.rw.undp.org/">Rwanda</a></li>
  </ul><ul><li><a href="http://www.ws.undp.org/">Samoa (Multi-country Office)</a></li>
  <li><a href="http://www.st.undp.org/">São Tomé and Principe</a></li>
  <li><a href="http://www.sa.undp.org/">Saudi Arabia</a></li>
  <li><a href="http://www.sn.undp.org/">Senegal</a></li>
  <li><a href="http://www.rs.undp.org">Serbia</a></li>
  <li><a href="http://www.sl.undp.org/">Sierra Leone</a></li>
  <li><a href="http://www.so.undp.org/">Somalia</a></li>
  <li><a href="http://www.za.undp.org/">South Africa</a></li>
  <li><a href="http://www.ss.undp.org/">South Sudan</a></li>
  <li><a href="http://www.lk.undp.org/">Sri Lanka</a></li>
  <li><a href="http://www.sd.undp.org/">Sudan</a></li>
  </ul></div><div class="nav-column"><ul><li><a href="http://undpsuriname.org/">Suriname</a></li>
  <li><a href="http://www.sz.undp.org/">Swaziland</a></li>
  <li><a href="http://www.se.undp.org">Sweden (Rep. Office)</a></li>
  <li><a href="http://www.sy.undp.org/">Syria</a></li>
  </ul><ul><li><a href="http://www.tj.undp.org/">Tajikistan</a></li>
  <li><a href="http://www.tz.undp.org/">Tanzania</a></li>
  <li><a href="http://www.th.undp.org/">Thailand</a></li>
  <li><a href="http://www.mk.undp.org">The former Yugoslav Republic of Macedonia</a></li>
  <li><a href="http://www.tl.undp.org/">Timor-Leste</a></li>
  <li><a href="http://www.tg.undp.org/">Togo</a></li>
  <li><a href="http://www.jp.undp.org">Tokyo (Rep. Office)</a></li>
  <li><a href="http://www.tt.undp.org">Trinidad and Tobago</a></li>
  <li><a href="http://www.tn.undp.org/">Tunisia</a></li>
  <li><a href="http://www.tr.undp.org/">Turkey</a></li>
  <li><a href="http://www.tm.undp.org/">Turkmenistan</a></li>
  </ul><ul><li><a href="http://www.ug.undp.org/">Uganda</a></li>
  <li><a href="http://www.ua.undp.org">Ukraine</a></li>
  <li><a href="http://www.ae.undp.org">United Arab Emirates</a></li>
  <li><a href="http://www.uy.undp.org/">Uruguay</a></li>
  <li><a href="http://www.uz.undp.org/">Uzbekistan</a></li>
  </ul><ul><li><a href="http://www.ve.undp.org/">Venezuela</a></li>
  <li><a href="http://www.vn.undp.org/">Viet Nam</a></li>
  </ul><ul><li><a href="http://www.us.undp.org/">Washington (Rep. Office)</a></li>
  </ul><ul><li><a href="http://www.ye.undp.org/">Yemen</a></li>
  </ul><ul><li><a href="http://www.zm.undp.org/">Zambia</a></li>
  <li><a href="http://www.zw.undp.org/">Zimbabwe</a></li>
  </ul></div><div class="nav-column">
  <div class="regional-presence">
    <b>Regional Presence</b> <ul>
      <li><a href="http://www.africa.undp.org">Africa</a></li>
      <li><a href="http://arabstates.undp.org">Arab States</a></li>
      <li><a href="http://asia-pacific.undp.org/">Asia and the Pacific</a></li>
      <li><a href="http://www.eurasia.undp.org">Europe and the Commonwealth of Independent States</a></li>
      <li><a href="http://www.latinamerica.undp.org">Latin America and the Caribbean</a></li>
    </ul>
  </div>
</div>
<div class="nav-column">
  <div class="policy-centers">
    <b><a href="http://www.undp.org/content/undp/en/home/ourwork/global-policy-centres.html" style="text-decoration: none; color:#bbb">Global Policy Centres</a></b><ul>
    <li><a href="http://www.iicpsd.undp.org">Istanbul</a></li>
    <li><a href="http://www.undp.org/content/undp/en/home/ourwork/global-policy-centres/sustainable_landmanagement.html">Nairobi </a></li>
    <li><a href="http://www.undp.org/content/undp/en/home/ourwork/global-policy-centres/oslo_governance_centre.html">Oslo</a></li>
    <li><a href="http://www.undp.org/content/undp/en/home/ourwork/global-policy-centres/world-centre-for-sustainable-development---rio--centre.html">Rio de Janeiro</a></li>
    <li><a href="http://www.undp.org/content/seoul_policy_center/en/home.html">Seoul</a></li>
    <li><a href="http://www.undp.org/content/undp/en/home/ourwork/global-policy-centres/publicservice.html">Singapore</a></li>
    </ul>
  </div>
</div>  
</div>
</li>
<li><a href="http://www.undp.org/content/undp/en/home/menu/about-us.html">About us</a></li><li><a href="http://www.undp.org/content/undp/en/home/menu/publications.html">Publications</a></li><li><a href="http://www.undp.org/content/undp/en/home/menu/news-centre.html">News Centre</a></li><li><a href="http://www.undp.org/content/undp/en/home/menu/funding.html">Funding &#x25BE;</a><div><div class="nav-column"><ul><li><a href="http://www.undp.org/content/undp/en/home/menu/funding/top-contributors.html">Top contributors</a></li><li><a href="http://www.undp.org/content/undp/en/home/menu/funding/funding-channels.html">Funding channels</a></li><li><a href="http://www.undp.org/content/undp/en/home/menu/funding/partners.html">Partners</a></li></ul></div></div></li></ul>
</div>            
            
            
            <h2>United Nations Development Programme</h2>
            <!-- end of #top-navigation -->
            <!-- end of #languages -->
            <!-- end of #main-navigation -->
            <h1 class='site-title'><a href='{{base}}/'>Our Projects</a></h1>
            <span class="desc">Last Updated: 31-May-2017</span>
        </div>
        <!-- end of .content -->
    </div><!-- /#header -->
