<div id='homemap-legend' style='display:none;'>
  <strong>Type of funds</strong>
  <div class='clearfix'>
      <div><i style='background: #0055aa;border-radius: 1; border-color: #0055aa;' class="legend-icon"></i><p>Partner</div>
      <div><i style='background: rgba(0, 85, 170, 0.6); border-color: #0055aa' class='legend-icon'></i>Local</div>
  </div>
</div>

<script id='navTemplate'>{% include templates/navTemplate._ %}</script>
<!-- Filter  -->
<script id='filterItem'>{% include templates/filterItem._ %}</script>
<script id='filterItemList'>{% include templates/filterItemList._ %}</script>

<!-- Project Item List -->
<script id='projectItem'>{% include templates/projectItem._ %}</script>
<script id='projectItemList'>{% include templates/projectItemList._ %}</script>

<!-- Top Donors Page -->
<script id='topDonor'>{% include templates/topDonor._ %}</script>
<script id='topDonors'>{% include templates/topDonors._ %}</script>

<!-- Donor country visualization -->
<script id='donorViz'>{% include templates/donorViz._%}</script>
<script id='donorSpecific'>{% include templates/donorSpecific._ %}</script>

<!-- Embed Widget UI -->
<script id='widgetTemplate'>{% include templates/widgetTemplate._ %}</script>

<!-- Main App/Embed-->
<script id='appTemplate'>{% include templates/appTemplate._ %}</script>
<script id='embedAppTemplate'>{% include templates/embedAppTemplate._ %}</script>
<script id='embedProjectItem'>{% include templates/embedProjectItem._ %}</script>
<script id='embedFocusAreaItemTemplate'>{% include templates/embedFocusAreaItemTemplate._ %}</script>
<script id='embedBudgetChartItemTemplate'>{% include templates/embedBudgetChartItemTemplate._%}</script>

<!-- Individual Project Page/Embed -->
<script name='projectProfile'>{% include templates/projectProfile._ %}</script>
<script name='projectOutputs'>{% include templates/projectOutputs._ %}</script>
<script name='embedProjectProfile'>{% include templates/embedProjectProfile._ %}</script>
<script name='embedProjectOutputs'>{% include templates/embedProjectOutputs._ %}</script>
<script id='projectMapCountrySummary'>{% include templates/projectMapCountrySummary._ %}</script>

<!-- charts -->
<script id='focusAreaItemTemplate'>{% include templates/focusAreaItemTemplate._ %}</script>
<script id='budgetChartItemTemplate'>{% include templates/budgetChartItemTemplate._ %}</script>
<script id='recipientOfficesChart'>{% include templates/recipientOfficesChart._ %}</script>
<script id='recipientOfficesChartTabbed'>{% include templates/recipientOfficesChartTabbed._ %}</script>

<!-- Google Analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-24131528-32']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>