<script name='app' type='text/html'>{% include templates/app._ %}</script>
<script name='nav' type='text/html'>{% include templates/nav._ %}</script>
<script name='donorSpecific' type='text/html'>{% include templates/donorSpecific._ %}</script>
<script name='filter' type='text/html'>{% include templates/filter._ %}</script>
<script name='filters' type='text/html'>{% include templates/filters._ %}</script>
<script name='project' type='text/html'>{% include templates/project._ %}</script>
<script name='projects' type='text/html'>{% include templates/projects._ %}</script>
<script name='projectProfile' type='text/html'>{% include templates/projectProfile._ %}</script>
<script name='projectOutputs' type='text/html'>{% include templates/projectOutputs._ %}</script>
<script name='embedProject' type='text/html'>{% include templates/embedProject._ %}</script>
<script name='embedProjectOutputs' type='text/html'>{% include templates/embedProjectOutputs._ %}</script>
<script name='topDonors' type='text/html'>{% include templates/topDonors._ %}</script>
<script name='topDonor' type='text/html'>{% include templates/topDonor._ %}</script>
<script name='ctrySummary' type='text/html'>{% include templates/ctrySummary._ %}</script>
<script name='widget' type='text/html'>{% include templates/widget._ %}</script>

<!-- Google Analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-24131528-32']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>