<div id='homemap-legend' style='display:none;'>
  <strong>Type of funds</strong>
  <div class='clearfix'>
      <div><i style='background: #0055aa;border-radius: 1; border-color: #0055aa;' class="legend-icon"></i><p>International</div>
      <div><i style='background: rgba(0, 85, 170, 0.6); border-color: #0055aa' class='legend-icon'></i>National</div>
  </div>
</div>

<script id='navTemplate' type='text/html'>{% include templates/navTemplate._ %}</script>
<!-- Filter  -->
<script id='filterItem' type='text/html'>{% include templates/filterItem._ %}</script>
<script id='filterItemList' type='text/html'>{% include templates/filterItemList._ %}</script>

<!-- Project Item List -->
<script id='projectItem' type='text/html'>{% include templates/projectItem._ %}</script>
<script id='projectItemList' type='text/html'>{% include templates/projectItemList._ %}</script>

<!-- Top Donors Page -->
<script id='topDonor' type='text/html'>{% include templates/topDonor._ %}</script>
<script id='topDonors' type='text/html'>{% include templates/topDonors._ %}</script>

<!-- Donor country visualization -->
<script id='donorViz' type='text/html'>{% include templates/donorViz._%}</script>
<script id='donorSpecific' type='text/html'>{% include templates/donorSpecific._ %}</script>

<!-- Embed Widget UI -->
<script id='widgetTemplate' type='text/html'>{% include templates/widgetTemplate._ %}</script>

<!-- Main App/Embed-->
<script id='appTemplate' type='text/html'>{% include templates/appTemplate._ %}</script>
<script id='embedAppTemplate' type='text/html'>{% include templates/embedAppTemplate._ %}</script>
<script id='embedProjectItem' type='text/html'>{% include templates/embedProjectItem._ %}</script>
<script id='embedFocusAreaItemTemplate' type='text/html'>{% include templates/embedFocusAreaItemTemplate._ %}</script>
<script id='embedBudgetChartItemTemplate' type='text/html'>{% include templates/embedBudgetChartItemTemplate._%}</script>

<!-- Individual Project Page/Embed -->
<script id='projectProfile' type='text/html'>{% include templates/projectProfile._ %}</script>
<script id='projectOutputs' type='text/html'>{% include templates/projectOutputs._ %}</script>
<script id='embedProjectProfile' type='text/html'>{% include templates/embedProjectProfile._ %}</script>
<script id='embedProjectOutputs' type='text/html'>{% include templates/embedProjectOutputs._ %}</script>
<script id='projectMapCountrySummary' type='text/html'>{% include templates/projectMapCountrySummary._ %}</script>

<!-- Charts -->
<script id='focusAreaItemTemplate' type='text/html'>{% include templates/focusAreaItemTemplate._ %}</script>
<script id='budgetChartItemTemplate' type='text/html'>{% include templates/budgetChartItemTemplate._ %}</script>
<script id='recipientOfficesChart' type='text/html'>{% include templates/recipientOfficesChart._ %}</script>
<script id='recipientOfficesChartTabbed' type='text/html'>{% include templates/recipientOfficesChartTabbed._ %}</script>

<!-- Main Map -->
<script id='circlePopupTemplate' type='text/html'>{% include templates/circlePopupTemplate._ %}</script>
<script id='clusterPopupTemplate' type='text/html'>{% include templates/clusterPopupTemplate._ %}</script>
<script id='subNationalDescription1' type='text/html'>
</script>

<script id='noGeoTemplate' type='text/html'>{% include templates/noGeoTemplate._%}</script>
<script id='withGeoTemplate' type='text/html'>{% include templates/withGeoTemplate._ %}</script>

<!-- Project Map and Social Media-->
<script id='projectMapTooltip' type='text/html'>{% include templates/projectMapTooltip._%}</script>
<script id='contactInfo' type='text/html'>{% include templates/contactInfo._%}</script>