<div class='modal hide fade' id='top-recipient-note'>
  <div class='modal-header'>
    <button type='button' class='close' data-dismiss='modal'>&times;</button>
  	<h3>Note on Top Recipient and Top Budget Source</h3>
  </div>
  <div class='modal-body'>
  	<p>The ranking of the top recipient offices includes fundings originated <b>from within the country</b>. For example, country offices such as Argentina are listed as top recipients because they receive funding from domesitic organizations. For example, on load you will see Argentina as one of the top recipient offices.</p>
  	<img src='img/top-recipient1.png'>
  	<p>In this case, The Government of Argentina (coded Arg-Gobierno) funds the majority of the projects in Argentina.</p>
	<img src='img/top-recipient2.png'>
  	<p>This information is available on each country's page, which can be accessed by clicking directly on the country name in the Top Recipient Offices chart.</p></div>
</div>